/*Transformasi NGO/Charity/Fundraising Template By DynamicLayers*/

/*  ==========================================================================
    Table of Contets
    ==========================================================================
    
    1.0 Common Styles
    2.0 Header Section
    3.0 Slider Section
    4.0 Promo Section
    5.0 Causes Section
    6.0 About Section
    7.0 Campaigns Section
    8.0 Team Section
    9.0 Counter Section
    10.0 Event Section
    11.0 Testimonial Section
    12.0 Sponsor Section
    13.0 Widget Section
    14.0 Hero Section
    15.0 Page Header Section
    16.0 CTA Section
    17.0 Gallery Section
    18.0 Blog Section
	19.0 Sidebar Section
	20.0 Contact Section
	21.0 Footer Section
	22.0 Scroll To Top
    
    ==========================================================================
    DynamicLayers
    ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

/*  ==========================================================================
            1.0 Common Styles
            ========================================================================== */
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #555;
    letter-spacing: -0.2px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #282828;
}
h1 {
    font-size: 70px;
    line-height: 1;
    margin: 0 0 10px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    color: #282828;
    margin: 0 0 8px;
    font-weight: 600;
    line-height: 1;
}
h3,
h4 {
    margin: 0 0 10px;
    font-weight: 600;
    line-height: 1.4;
    color: #282828;
    /* letter-spacing: 0.1em !important; */
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 15px;
}
h5,
h6 {
    font-size: 14px;
    margin: 0 0 10px;
}
img {
    border: none;
    outline: none;
}
ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    font-size: 17px;
    margin-bottom: 15px;
}
a {
    font-family: "Source Sans Pro", sans-serif;
}
a,
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 0;
    text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #888 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #888 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #888 !important;
}
button {
    border: none;
    background: none;
}
/* Helper Class */
.w-50 {
    width: 50%;
}
.padding {
    padding: 80px 0;
}

.padding-top {
    padding-top: 80px;
}
.no-padding {
    padding: 0;
}
.padding-30 {
    padding: 30px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-45 {
    margin-bottom: 45px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px !important;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mt-15 {
    margin-left: 15px;
}
.mt-15 {
    margin-left: 15px;
}
.padding-15 {
    padding: 15px;
}
.padding-30 {
    padding: 30px;
}

.display-block {
    display: block;
}
.text-black {
    color: #282828;
}
.text-white {
    color: #ffffff;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.fl-right {
    float: right;
}
.fl-left {
    float: left;
}
.display-table {
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.overlay {
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.bg-white {
    background-color: #fff !important;
}
.bg-grey {
    background-color: #f2f2f2 !important;
}
.bd-bottom {
    border-bottom: 1px solid #eaeaea;
}
.bd-top {
    border-top: 1px solid #eaeaea;
}
.bg-dark {
    background-color: #232323;
}

/* Preloader Styles */
.loaded .site-preloader-wrap {
    opacity: 0;
    visibility: hidden;
}
.site-preloader-wrap {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #272c30;
    top: 0;
    left: 0;
}

.site-preloader-wrap .spinner {
    background-color: #13284b;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.spinner {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

/* Button Style */
.btn-donasi {
    background-color: #f5a81c;
}

.btn_group {
}
.btn_group a {
    margin: 5px;
}
.default-btn {
    /* background-color: #007cba; */
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
}
.default-btn:hover {
    cursor: pointer !important;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
}
.default-btn.btn_sm {
    line-height: 40px;
    padding: 0 15px;
}

.default-btn .fa-facebook {
    color: #fff !important;
}

.default-btn .fa {
    color: #fff !important;
}

.default-btn:disabled {
    opacity: 0.3;
    cursor: no-drop;
}

/*Section Heading Style*/
.section-heading .heading-border {
    border-top: 5px solid #97c93d;
    width: 50px;
    display: inline-block;
    margin-top: 0;
}
.section-heading h2 {
    font-size: 38px;
    margin-bottom: 0;
}

/* Transition Effect */
a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* Shape and Circle */
.circle,
.shape {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.circle:before {
    background-color: #007cba;
    content: "";
    height: 460px;
    width: 35%;
    position: absolute;
    top: -400px;
    left: 100px;
    border-radius: 100%;
    opacity: 0.9;
    z-index: -1;
}
.shape:after {
    background-color: #007cba;
    content: "";
    width: 30%;
    height: 680px;
    position: absolute;
    top: 330px;
    right: -150px;
    border-radius: 100%;
    -webkit-transform: skew(3deg, 30deg);
    -ms-transform: skew(3deg, 30deg);
    transform: skew(5deg, 10deg);
    opacity: 0.9;
    z-index: -1;
}

/* ==========================================================================
           2.0 Header Section
           ========================================================================== */
.header-section {
    position: absolute;
    box-shadow: 5px -5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.header-section.navbar-fixed-top {
    position: fixed;
}
.header-section.navbar-fixed-top .top-header {
    display: none;
}
.top-header {
    width: 100%;
    text-align: center !important;
    background-color: #13284B;
}

/*Top Header*/

/*Bottom Header */
.bottom-header {
    background-color: #13284B;
    position: relative;
}
.bottom-content-wrap {
    display: flex;
    align-items: center;
}
#mainmenu {
    display: inline-block;
    margin-right: 20px;
}
#mainmenu li {
    position: relative;
    padding-right: 7px;
    padding-left: 7px;
    display: inline-block;
    text-align: left;
}
#mainmenu li a {
    color: rgb(241, 241, 241);
    font-weight: 500;
    padding: 30px 0;
    display: inline-block;
    font-size: 16px;
}
/* #mainmenu li a:hover {
            color: #007cba;
        } */
/*Dropdown */
#mainmenu li ul {
    background-color: #fff;
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 140%;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 999;
}
#mainmenu li:hover > ul {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
}
#mainmenu li ul li {
    border-bottom: 1px solid #eaeaea;
    display: block;
    position: relative;
}
#mainmenu li ul li:last-child {
    border: none;
}
#mainmenu li ul li a {
    line-height: 45px;
    display: block;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    -webkit-transition: color 0.3s ease 0s, padding 0.3s ease 0s;
    transition: color 0.3s ease 0s, padding 0.3s ease 0s;
}
#mainmenu li > ul > li:hover a {
    color: #007cba;
}
#mainmenu li > ul ul {
    background-color: #fff;
    left: 200px;
}
#mainmenu li > ul li:hover > ul li a {
    color: #555;
}
#mainmenu li ul li:hover > ul {
    top: 0;
    opacity: 1;
    visibility: visible;
}
#mainmenu li > ul li:hover > ul li > a:hover {
    background-color: transparent;
    color: #fff;
}
#mainmenu li ul li li a:hover {
    color: #ffca3f !important;
}

/*Mobile Menu */
.slicknav_menu {
    background: none;
    padding: 4px 0;
    display: none;
    z-index: 999;
}
.slicknav_nav {
    background-color: #fff;
}
.js .slicknav_menu {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.slicknav_btn {
    background-color: transparent;
    margin: 13px 5px 14px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav a:hover {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    color: #555;
}
.slicknav_nav a .caret {
    display: none;
}
.slicknav_nav ul {
    margin: 0;
}
.slicknav_nav ul li a {
    padding-left: 30px;
    font-size: 12px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover {
    background-color: transparent;
    color: #282828;
}

/* ==========================================================================
           3.0 Slider Section
           ========================================================================== */
.slider-section {
}
.slider-caption {
    width: 100%;
    z-index: 1;
}
.slider-text {
    width: 100%;
    text-align: center;
}
.slider-text h1 {
    font-size: 62px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
}
.slider-text h5 {
    font-weight: 600;
    color: #ddd;
}
.nivo-caption a {
    display: inline-block !important;
}
.slider-text p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}
.slider-wrapper {
    position: relative;
}
.slider-main, .slick-list, .slick-track {
    height: 610px;
}
.slider-wrapper .slider-main .slider-content {
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slider-content:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6    ;
}
.nivo-caption {
    height: 100%;
    opacity: 1;
    background: transparent;
    overflow: visible;
}

/* nivo directionNav css */
.nivo-directionNav a {
    font-size: 13px;
    background-color: rgba(221, 221, 221, 0.1);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #fff !important;
    top: calc(50% - 20px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.nivo-directionNav a.nivo-prevNav {
    left: 25px;
}
.nivo-directionNav a.nivo-nextNav {
    right: 25px;
}
.slider-wrapper:hover .nivo-directionNav a.nivo-prevNav {
    left: 15px;
    opacity: 0.7;
}
.slider-wrapper:hover .nivo-directionNav a.nivo-nextNav {
    right: 15px;
    opacity: 0.7;
}
.nivo-directionNav a:hover {
    background-color: rgba(221, 221, 221, 0.5);
    
}

/* nivo controlNav css */
.nivo-controlNav {
    padding: 0;
    position: absolute;
    z-index: 12;
    bottom: 30px;
    width: 100%;
}
.nivo-controlNav a {
    background-color: transparent;
    width: 12px;
    height: 12px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3s linear;
    line-height: 12px;
}
.nivo-controlNav a.active {
    background-color: #2caee2;
}

/* ==========================================================================
           4.0 Promo Section
           ========================================================================== */
.promo-section {
    position: relative;
    display: block;
    margin-top: -80px;
    min-height: 360px;
}
.promo-wrap {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.promo-wrap .row {
    background-color: #fff;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
}
.promo-wrap .row .col-md-4:last-child > .promo-content {
    border: none;
}
.promo-content {
    padding: 40px 30px;
    border-right: 1px dashed #ddd;
}
.promo-content h3 {
    font-size: 22px;
    letter-spacing: -1px;
}
.promo-content img {
    margin-bottom: 15px;
}
.promo-content a {
    color: #555;
    font-size: 14px;
    font-weight: 600;
}
.promo-content a:hover {
    text-decoration: underline;
    color: #007cba;
}
.promo-section-2 .promo-content {
    padding: 0 30px;
}
.promo-section-2 .row .col-md-4:last-child > .promo-content {
    border: none;
}

/* ==========================================================================
           5.0 Causes Section
           ========================================================================== */
.publication-section {
    background-image: url(../img/bg/bg-lp.png) !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.causes-section {
    position: relative;
    z-index: 1;
}
.causes-content img {
    width: 100%;
}
.causes-thumb {
    position: relative;
}
.causes-thumb img:hover {
    opacity: 0.8;
}
.causes-thumb .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 0;
    background-color: transparent;
    overflow: inherit;
}
.causes-thumb .progress .progress-bar {
    background-color: #007cba;
    position: relative;
}
.causes-thumb .progress .progress-bar span {
    position: absolute;
    display: block;
    background-color: #007cba;
    right: -2px;
    top: -10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 12px;
}
.causes-thumb .progress .progress-bar span:before {
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    border: 10px solid rgba(248, 184, 100, 0.8);
}
.causes-details {
    background-color: #fff;
    padding: 40px 30px;
    border: 1px dashed #ccc;
    padding-top: 25px;
}
.causes-details h3 {
    font-size: 24px;
    line-height: 30px;
}
.causes-content .donate-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007cba;
    opacity: 0.8;
    color: #fff;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.donate-btn .fa {
    color: #fff !important;
}
.causes-content .donate-btn i {
    margin-left: 5px;
    font-size: 12px;
}
.causes-content .donate-btn:hover {
    background-color: #007cba;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
}
.donation-box p {
    display: inline-block;
    margin-right: 10px;
}
.donation-box i {
    color: #007cba;
    margin-right: 5px;
}
.causes-content .read-more {
    color: #999;
}
.causes-content .read-more:hover {
    color: #007cba;
    text-decoration: underline;
}

.causes-section .post-meta {
    font-weight: 500;
    text-align: center !important;
    font-size: 20px;
    color: #282828;
    letter-spacing: -0.2px;
}
.causes-section .post-meta:hover {
    opacity: 0.8;
    text-decoration: underline;
}
/* ==========================================================================
           6.0 About Section
           ========================================================================== */
.about-section {
    position: relative;
}
.about-wrap {
    display: flex;
    align-items: center;
}
.about-wrap img {
    width: 100%;
    margin-bottom: 15px;
}
.about-wrap img:hover {
    opacity: 0.8;
}
.profile-wrap {
    background-color: #fafafa;
    text-align: center;
    padding: 30px;
    border: 2px dashed #ddd;
}
.profile-wrap h3 {
    font-size: 22px;
}
.profile-wrap .profile {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.profile-wrap span {
    display: block;
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
    color: #999;
    margin-top: 5px;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
}
.about-content h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

/* ==========================================================================
           7.0 Campaigns Section
           ========================================================================== */
.campaigns-section {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0;
}
.campaigns-wrap h4 {
    /* background-color: rgba(248, 184, 100, 0.8); */
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
}
.campaigns-wrap h2 {
    color: #282828;
    font-size: 42px;
}
.campaigns-wrap p {
    color: #282828;
    margin-bottom: 30px;
}
.campaigns-wrap .progress {
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: inherit;
    margin-bottom: 40px;
}
.campaigns-wrap .progress .progress-bar {
    background-color: #007cba;
    position: relative;
    border-radius: 30px;
}
.campaigns-wrap .progress .progress-bar span {
    position: absolute;
    display: block;
    background-color: #007cba;
    right: -2px;
    top: -10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 12px;
}
.campaigns-wrap .progress .progress-bar span:before {
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    border: 10px solid rgba(248, 184, 100, 0.8);
}

.campaigns-wrap .donation-box h3 {
    display: inline-block;
    color: #fff;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}
.campaigns-wrap .donation-box {
    margin-bottom: 25px;
}

/*Video Style*/
.video-wrap {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.video-wrap img {
    width: 100%;
}
.video-wrap .play {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.video-wrap .play a {
    color: #fff;
    display: inline-block;
    background-color: transparent;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
}
.video-wrap .play:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
}

/* ==========================================================================
           8.0 Team Section
           ========================================================================== */
.team-section {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.team-wrap {
    padding: 0 30px;
}
.team-wrap .col-md-6 {
    padding: 5px;
}
.team-wrapper {
    display: flex;
    align-items: center;
}
.team-details img {
    width: 100%;
}
.team-wrap h3 {
    color: #007cba;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 0 !important;
}
.team-wrap span {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.team-details {
    overflow: hidden;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.team-name {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
.card-team {
    border: #97c93d solid 2px;
    border-radius: 10px;
}
.team-details .hover {
    background: black; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 4));
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 70px 0 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
.team-details:hover .hover {
    visibility: visible;
    opacity: 1;
}
.team-details:hover img {
    transform: scale(1.1);
}

/*Check List Style*/
.check-list {
    margin: 20px 0 40px;
}
.check-list li {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 35px;
}
.check-list i {
    color: #007cba;
    margin-right: 10px;
}

/* ==========================================================================
           9.0 Counter Section
           ========================================================================== */
.counter-section {
    background-image: url(../img/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0;
}
.counters {
}
.counters .counter-content {
    display: block;
    text-align: center;
    color: #fff;
}
.counters .counter-content i {
    font-size: 36px;
}
.counters .counter-content h3 {
    font-size: 48px;
    margin: 10px 0;
    color: #007cba;
    font-weight: 600;
}
.counters .counter-content h4 {
    font-size: 18px;
    margin: 0;
}
/* ==========================================================================
           10.0 Event Section
           ========================================================================== */
.event-section {
}
.events-item {
    /* padding-left: 300px; */
    position: relative;
}
.events-item .event-thumb {
    /* width: 300px; */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.event-details {
    background-color: #fafafa;
    padding: 30px 15px;
    border: 1px dashed #ddd;
}
.event-info i {
    color: #007cba;
    margin-right: 10px;
}
.event-info p {
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
}
.event-info {
    margin-bottom: 10px;
}

/*Owl Navigation*/
.owl-nav {
}
.owl-nav div {
    background-color: #f5a81c;
    opacity: 0.6;
    color: #fff;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: -40px;
    top: calc(50% - 25px);
    transition: all 0.5s ease-in-out;
}
.owl-nav div:hover {
    background-color: #f5a81c;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}
.owl-nav div.owl-next {
    left: auto;
    right: -40px;
}
/* ==========================================================================
           11.0 Testimonial Section
           ========================================================================== */
.layanan-section .section-heading {
    background-color: #fff !important;
}
.testimonial-carousel {
    background-color: #007cba;
}
.testimonial-carousel a:hover {
    background-color: #055882;
}
.testimonial-item a {
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.layanan-section .testimonial-item p {
    color: #fff !important;
}
.testi-footer img {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
}
.testi-footer span {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    color: #999;
    font-size: 14px;
}
.testi-footer h4 {
    font-size: 18px;
    padding-left: 10px;
}
.testi-footer {
    display: flex;
    align-items: center;
}
/*Owl Carousel Dots*/
.testimonial-carousel .owl-dots {
    display: block;
    text-align: center;
}
.testimonial-carousel .owl-dots .owl-dot {
    background-color: #999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    transition: all 0.5s ease-in-out;
}
.testimonial-carousel .owl-dots .owl-dot.active {
    background-color: #ddd;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

/* ==========================================================================
           12.0 Sponsor Section
           ========================================================================== */
.sponsor-section {
    padding: 30px 0;
}
.sponsor-section .sponsor-item img {
    width: 100%;
    padding: 20px;
    opacity: 0.8;
}
.sponsor-section .sponsor-items li img:hover {
    opacity: 1;
}

/* ==========================================================================
           13.0 Widget Section
           ========================================================================== */
.widget-section {
    background-color: #007cba;
    background-position: right 150px center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.widget-content {
}
.widget-content img {
    margin-bottom: 15px;
}
.widget-content p {
    color: #ddd;
}
.widget-content h3 {
    color: #ddd;
}
.widget-content .social-icon li {
    display: inline-block;
    margin-right: 15px;
}
.widget-content .social-icon li a {
    display: inline-block;
    color: #fff;
}
.widget-content .social-icon li a:hover {
    color: #fff;
}
.widget-content .widget-link li a {
    color: #ddd;
    margin-bottom: 16px;
    display: block;
}
.widget-content .widget-link li a:hover {
    color: #007cba;
    text-decoration: underline;
}
.widget-content .address li {
    margin-bottom: 16px;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    color: #ddd;
}
.widget-content .address li i {
    color: #007cba;
    margin-right: 10px;
}
/* ==========================================================================
           14.0 Hero Section
           ========================================================================== */
.hero-section {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
}
.hero-content h1 {
    font-size: 52px;
    color: #fff;
    display: inline-block;
}
.hero-content h4 {
    color: #007cba;
}
.hero-content p {
    color: #ddd;
}
/* ==========================================================================
           15.0 Page Header Section
           ========================================================================== */
.pager-header {
    background-image: url(../img/header/header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.pager-header h2 {
    color: #fff;
    font-size: 42px;
}
.pager-header p {
    color: #ddd;
}

/*Breadcrumb */
.breadcrumb {
    background-color: transparent;
    padding: 0;
}
.breadcrumb li {
}
.breadcrumb li a {
    font-weight: 600;
    color: #ddd;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}
.breadcrumb .active {
    color: #13284b;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

/*404 Error Section*/
.error-section {
}
.error-content h2 {
    font-size: 120px;
}

/* ==========================================================================
           16.0 CTA Section
           ========================================================================== */
.cta-section {
    background-image: url(../img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 300px;
}
.cta-section .cta-content h2 {
    color: #fff;
    font-size: 42px;
}
.cta-section .cta-content p {
    color: #ddd;
}
/* ==========================================================================
           17.0 Gallery Section
           ========================================================================== */
.gallery-item .col-lg-4 {
    padding: 15px;
}
.gallery-filter {
    width: 100%;
}
.gallery-filter li {
    margin-right: 10px;
    display: inline-block;
    font-size: 15px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    background-color: #f7f7f7;
    border: 1px dashed #ddd;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
}
.gallery-filter li.active {
    background-color: #007cba;
    color: #fff;
}
.gallery-wraps {
    background-color: #fff !important;
}
.gallery-wrap {
    position: relative;
    overflow: hidden;
}
.gallery-wrap img {
    width: 100%;
}

.gallery-wrap .hover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}
.gallery-wrap .hover a {
    background-color: #007cba;
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}
.gallery-wrap:hover .hover {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.right-sidebar {
    border-right: 2px solid #ddd;
    /* border-right: none; */

}
.left-sidebar {
    border-left: 2px solid #ddd;
}



/* ==========================================================================
           18.0 Blog Section
           ========================================================================== */


.blog-section {
}
.blog-items {
    /* border-right: 1px solid #ddd; */
    padding: 20px;
}


.left-sidebar .blog-items {
    border-right: none;
    border-left: 1px solid #ddd;
    padding-right: 0;
    padding-left: 10px;
}
.blog-post {
    transition: all 0.3s ease;
}
.blog-post img {
    width: 100%;
}
.blog-post:hover {
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.2);
}

.publikasi {
    background-color: #fff;
}

.blog-content {
    background-color: #fff;
    padding: 20px 20px;
}
.blog-post .blog-content h3 {
    font-weight: 600;
    font-size: 22px;
}
.blog-post .blog-content a {
    color: #282828;
}
.blog-post .blog-content a:hover {
    opacity: 0.8;
}
span.date {
    font-family: "Source Sans Pro", sans-serif;
    color: #999;
    font-weight: 500;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}
.blog-post .blog-content .post-meta {
    font-weight: 500;
    font-size: 14px;
    color: #282828;
    letter-spacing: -0.2px;
}
.blog-post .blog-content .post-meta:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.lp-blog-title {
    font-size: 14px !important;
}

.lp-blog-desc,
.lp-blog-date {
    font-size: 12px !important;
}

.lp-blog-section {
    background-image: url(../img/bg/bg-lp.png) !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Blog List*/
.list-items .blog-post {
    border: 1px solid #eee;
    margin: 0;
    margin-bottom: 15px;
}
.list-items .blog-post img {
    margin-bottom: 0;
}
.list-items .blog-post .col-md-6:first-child {
    padding-left: 0;
}
.list-items .blog-post .blog-content {
    padding: 34px 0;
}

/*Single Post Style*/
.single-post {
}
.single-post img {
    max-width: 100%;
    /* height: 100%; */
    border-radius: 5px;
    margin-bottom: 20px;
}
.single-post h2 {
    font-weight: 600;
    font-size: 38px;
}
.single-post .meta-info {
    margin-bottom: 25px;
}
.single-post .meta-info span {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px;
}
.single-post .meta-info a {
    font-weight: 800;
    color: #555;
}
.single-post .meta-info i {
    color: #555;
}

/*Social Share*/
.share-wrap {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
}
.share-wrap h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
}
.share-icon {
    display: inline-block;
}
.share-icon li {
    display: inline-block;
    margin-right: 10px;
}
.share-icon i {
    margin-right: 5px;
}
.share-icon li:nth-child(1) a {
    background-color: #3b5998;
}
.share-icon li:nth-child(2) a {
    background-color: #1dcaff;
}
.share-icon li:nth-child(3) a {
    background-color: #db4a39;
}
.share-icon li:nth-child(4) a {
    background-color: #e4405f;
}
.share-icon li:nth-child(5) a {
    background-color: #0077b5;
}
.share-icon li a {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
}
.share-icon li a:hover {
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.2);
}

/*Comments Style*/
.comments-wrapper {
    width: 100%;
}
.comments-wrapper h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.comments-list {
    margin-top: 30px;
    position: relative;
    margin-bottom: 50px;
}

/*Lines Details*/
.comments-list:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: "";
    position: absolute;
    background: #eee;
    bottom: 0;
    left: 29px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
    display: none;
}
.reply-list li:before {
    content: "";
    width: 60px;
    height: 2px;
    background: #eee;
    position: absolute;
    top: 25px;
    left: -55px;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/*Avatar*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-right: 10px;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/*Comment List*/
.comments-list .comment-box {
    width: 740px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #fcfcfc;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 665px;
}
.comment-box .comment-head {
    background: #fcfcfc;
    padding: 10px 12px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #a6a6a6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #fff;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}
.comment-box .comment-name.by-author:after {
    content: "autor";
    background: #03658c;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 600;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*Comment Form*/
.comment-form h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}
.comment-form .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: transparent;
}
.comment-form .form-control.message {
    height: 150px;
}
#form-messages {
    display: none;
}
#form-messages.alert-danger,
#form-messages.alert-success {
    display: block;
}

/* ==========================================================================
           19.0 Sidebar Section
           ========================================================================== */
.sidebar-wrap {
    padding-left: 10px;
}
.left-sidebar .sidebar-wrap {
    padding-right: 10px;
    padding-left: 0;
}
.sidebar-widget h4 {
    font-weight: 500;
    font-size: 22px;
    color: #282828;
    margin-bottom: 25px;
}
.search-form {
    position: relative;
    margin-left: -2px;
}
.search-form .form-control {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    clear: #282828;
    height: auto;
    padding: 10px 20px;
    border-radius: 3px;
    padding-right: 60px;
}
.search-form .search-btn {
    background-color: transparent;
    font-size: 24px;
    color: #888;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 10px 0;
    opacity: 0.6;
}
.search-form .search-btn:focus,
.search-form .search-btn:hover {
    opacity: 1;
}
.search-form input::-webkit-input-placeholder {
    color: #888 !important;
}
.search-form input:-moz-placeholder {
    /* Firefox 18- */
    color: #888 !important;
}
.search-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #888 !important;
}
.search-form input:-ms-input-placeholder {
    color: #888 !important;
}

/*Category List*/
.cat-list {
    margin-top: -10px;
}
.cat-list li a {
    font-weight: 500;
    font-size: 15px;
    color: #282828;
    letter-spacing: -0.4px;
    line-height: 36px;
    font-style: normal;
}
.cat-list li span {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: #bbb;
    margin-left: 5px;
    font-size: 10px;
}

/*Recent Posts*/
.recent-posts {
}
.recent-posts li {
    position: relative;
    padding-left: 90px;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-bottom: 15px;
}
.recent-posts li a {
    color: #555;
}
.recent-posts li a:hover {
    opacity: 0.8;
}
.recent-posts li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
}
.recent-posts li img:hover {
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.2);
}
.recent-posts li h4 {
    text-transform: inherit;
    margin-bottom: 0;
    display: block;
    font-size: 15px;
}

/*Tags*/
.tags {
    margin: -3px 0;
}
.tags li {
    display: inline-block;
    float: left;
    margin: 3px;
}
.tags li a {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #555;
    background-color: #ddd;
    padding: 5px 15px;
    border-radius: 3px;
}
.tags li a:hover {
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.2);
}

/* Pagination 
        =============== */
.pagination_wrap {
}
.pagination_wrap li {
    display: inline-block;
    margin: 0 5px;
}
.pagination_wrap li a {
    border: 1px solid #ddd;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #555;
    font-weight: 600;
}
.pagination_wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.2);
}
.pagination_wrap li a.active {
    background-color: #007cba;
    border: 1px solid #007cba;
    color: #fff;
}

/* ==========================================================================
           20.0 Contact Section
           ========================================================================== */
.donate-section, .contact-section {
    position: relative;
    z-index: 1;
    background-image: url(../img/bg/8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.donate-wrap {
    background-color: #f2f2f2;
    padding: 80px 50px;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
    margin-top: 110px;
    border-radius: 5px;
}
.donate-section h3 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}
.donate-info ul li {
    line-height: 40px;
    display: flex;
    align-items: center;
}
.donate-info ul li i {
    margin-right: 10px;
    color: #999;
    font-size: 20px;
}
.donate-info ul li {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.donate-form .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: #fff;
}
.donate-form .form-control.message {
    height: 150px;
}
.contact-section {
    position: relative;
    z-index: 1;
}
.contact-wrap {
    background-color: #f2f2f2;
    padding: 30px 10px;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.15);
    margin: 30px 5px;
    border-radius: 5px;
}
.contact-section h3 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}
.contact-info ul li {
    line-height: 40px;
    display: flex;
    align-items: center;
}
.contact-info ul li i {
    margin-right: 10px;
    color: #999;
    font-size: 20px;
}
.contact-info ul li {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 17px;
}

/*Contact Form*/
.contact-form .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 45px;
    background-color: #fff;
}
.contact-form .form-control.message {
    height: 150px;
}
#form-messages {
    display: none;
}
#form-messages.alert-danger,
#form-messages.alert-success {
    display: block;
}
/*Google Map*/
#google_map {
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* ==========================================================================
           21.0 Footer Section
           ========================================================================== */
.footer-section {
    display: block;
    background-color: #007cba;
    border-top: 1px solid #73cfea;
    padding: 30px 0;
}
.footer-section .copyright {
    font-size: 15px;
    color: #ddd;
}
.footer-social {
    display: block;
    text-align: right;
}
.footer-social li {
    display: inline-block;
}
.footer-social li a {
    color: #ddd;
    font-size: 15px;
    margin-left: 20px;
}
.footer-social li a:hover {
    color: #007cba;
}

/* ==========================================================================
           22.0 Scroll To Top
           ========================================================================== */
#scroll-to-top {
    /* background-color: #13284b; */
    display: none;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    border-radius: 50%;
    color: #fff !important;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#scroll-to-top:hover {
    color: #fff;
    transform: scale(1.1);
}

/* custom */
.post-meta--custom {
    display: flex;
    justify-content: center;
    font-weight: 500px;
    text-align: center !important;
    font-size: 20px;
    color: #282828;
    letter-spacing: -0.2px;
}
.post-meta--custom:hover {
    color: #282828;
    text-decoration: underline;
}

.fa {
    color: #73cfea !important;
    align-self: center;
}

.check-list .fa {
    color: #97c93d !important;
}

.fa-page-up {
    
    background-color: #73cfea !important;
}

.address .fa {
    color: #fff;
}

.list-misi {
    list-style: circle;
}

.pointer {
    cursor: pointer;
}

.spacer-single {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}

.spacer-double {
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
}
.spacer-half {
    width: 100%;
    height: 15px;
    display: block;
    clear: both;
}

.spacer-10 {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
}

.spacer-20 {
    width: 100%;
    height: 20px;
    display: block;
    clear: both;
}

.spacer-30 {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}

.spacer-40 {
    width: 100%;
    height: 40px;
    display: block;
    clear: both;
}

.spacer-50 {
    width: 100%;
    height: 50px;
    display: block;
    clear: both;
}

.spacer-60 {
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
}

hr {
    display: block;
    clear: both;
    border-top: solid 1px #ddd;
    margin: 40px 0 40px 0;
}

.text-center--custom {
    text-align: center !important;
}

.w100 {
    width: 100% !important;
}

.nivoSlider img {
    filter: brightness(0.4);
    background-size: cover;
}

.layanan-icon {
    width: 100px !important;
    height: 100px !important;
}
/* 
        .twitter-timeline,
        .facebook-timeline {
            display: inline-block !important;
        } */

.youtube-timeline {
    width: 80% !important;
    height: 400px;
}

#youtube-wrapper iframe {
    width: 100%;
    min-height: 440px;
}

/* color */
.color-primary {
    color: #007cba;
}

.color-secondary {
    color: #97c93d;
}

.color-tersier {
    color: #f5a81c;
}

/* bgcolor */

.bg-primary {
    background-color: #007cba !important;
}

.bg-read-more {
    background-color: #97c93d !important;
}

/* .bg-primary:hover {
    background-color: #007cba !important;
} */

.bg-second {
    background-color: #97c93d !important;
}
/* .bg-secondary:hover {
    background-color: #97c93d !important;
    opacity: 1 !important;
} */
.bg-tersier {
    background-color: #f5a81c !important;
}

.bg-geo1 {
    background-image: url(../img/bg/bg-geo1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-geo2 {
    background-image: url(../img/bg/bg-geo2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publikasi {
    background-color: #fff;
}

p {
    text-align: justify !important;
}
.w-30 {
    width: 30% !important;
}
.h-200 {
    height: 200px !important;
    overflow: hidden;
}
.h-130 {
    height: 130px !important;
    overflow: hidden;
}
.w-100 {
    width: 100%;
}
.h-350 {
    height: 300px;
}

.w-fit {
    width: fit-content !important;
}

.h-80 {
    height: 80%;
}

.h-100 {
    height: 100%;
}
.h-90 {
    height: 90%;
}

.card-video {
    border-radius: 10px;
}

.video-container iframe {
    width: 100%;
}

.bb {
    border-bottom: #282828 !important;
}

.footer-text {
    font-size: 14px !important;
}

.padding-footer {
    padding: 30px !important;
}

.socmed {
    height: 340px !important;
    padding: 10px !important;
}

.br-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.br-bottom {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.twitter,
.facebook,
.youtube {
    padding: 30px !important;
}
@import url("https://fonts.googleapis.com/css?family=Muli");
body {
    font-family: Arial;
    font-family: "Muli", sans-serif;
}
.sl-nav {
    display: inline;
    /* background-color: #73cfea !important; */
    border-radius: 5px;
}
.sl-nav ul {
    margin: 0;
    /* padding: 10px; */
    list-style: none;
    position: relative;
    display: inline-block;
}
.sl-nav li {
    cursor: pointer;
    padding-bottom: 10px;
}
@media screen and (max-width: 1199px) {
    .sl-nav li {
        padding: 5px 0px;
    }
}
.sl-nav li ul {
    display: none;
}
.sl-nav li:hover ul {
    position: absolute;
    top: 29px;
    right: -15px;
    display: block;
    background: #fff;
    width: 120px;
    z-index: 1000;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
}
.sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
}
.sl-nav li:hover .triangle:after {
    content: "";
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
    padding: 5px;
    position: relative;
    text-align: left;
    background: transparent;
    z-index: 2;
    font-size: 15px;
}
.sl-nav li ul li:last-of-type {
    /* padding-bottom: 15px; */
}
.sl-nav li ul li span {
    padding-left: 5px;
    color: #282828;
}

.sl-nav li ul li:hover {
    background-color: #f2f2f2;
}

.lang-active {
    font-weight: bold;
}

.lang-items {
    display: block;
}

.newsletter-email {
    position: relative;
    opacity: 0.3;
    height: 40px;
    width: 100%;
}

.btn-newsletter {
    width: fit-content !important;
    padding: 0px 5px !important;
    position: absolute;
    top: 7px;
    right: 22px;
    height: 70%;
    font-size: 10px;
}

.btn-newsletter h4 {
    margin: auto !important;
    font-size: 12px;
    font-weight: bold;
}

.fa-facebook,
.fa-twitter,
.fa-youtube-play {
    padding: 10px;
}

.socmed-btn {
    /* background-color: #007cba; */
    color: #fff !important;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    padding: 5px;
    font-weight: bold;
    width: 60px !important;
    height: 60px !important;
}
.socmed-btn:hover {
    cursor: pointer !important;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
}
.socmed-btn.btn_sm {
    line-height: 40px;
    padding: 0 15px;
}

.socmed-btn .fa-facebook {
    color: #007cba !important;
}

.socmed-btn .fa-youtube-play {
    color: #ba0000 !important;
}

.socmed-btn .fa {
    text-align: center !important;
    text-align: center !important;
}

.socmed-btn:disabled {
    opacity: 0.3;
    cursor: no-drop;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
}

/* tabs collapse join us */

.join-img {
    max-width: 100%;
}

.nav-tabs {
    margin-top: 20px;
    color:#f2f2f2;
    background:#f2f2f2;
    border-radius:0;
    border: none !important;
    height: fit-content;
    padding: 20px;
}
.nav-item.nav-link {
    border: 2px solid #13284B;
    padding: 18px 25px;
    color:#282828;
    background:#f2f2f2;
    border-radius:0;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 10px !important;
}

.nav-item.nav-link.active {
    border-radius: 10px;
    color:#f2f2f2;
    background:#13284B;
    border: 1px solid #13284B;

}


.tab-content {
    line-height: 25px;
}


.nav-item.nav-link:focus
{
    cursor: pointer !important;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
    border-radius:0;
}

.nav-item.nav-link:hover {
    /* cursor: pointer !important;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1); */
    border-radius: 10px;
    background: #13284B;
    color:#f2f2f2;
    border-radius:0;
    transition:background 0.20s linear;
}



.lowongan {
    border-top: 2px solid #97c93d;
    border-bottom: 2px solid #97c93d;
    padding: 30px;
}

.wilayah-kerja h2{
    font-size: 30px;
}

/* sosmed */
.socmed-tabs {
    border: 1px solid black !important;

}

.nav-tabs-socmed {
    margin-top: 20px;
    color:#f2f2f2;
    background:#f2f2f2;
    border-radius:0;
    height: fit-content;
    padding: 20px;
}
.nav-item-socmed.nav-link-socmed {
    border: 2px solid #13284B;
    padding: 18px 25px;
    color:#282828;
    background:#f2f2f2;
    border-radius:0;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 10px !important;
}

.nav-item-socmed.nav-link-socmed.active {
    border-radius: 10px;
    color:#f2f2f2;
    background:#13284B;
    border: 1px solid #13284B;

}


.tab-content {
    line-height: 25px;
}


.nav-item-socmed.nav-link-socmed:focus
{
    cursor: pointer !important;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
    border-radius:0;
}

.nav-item-socmed.nav-link-socmed:hover {
    /* cursor: pointer !important;
    transition: all 0.1s ease-in-out;
    transform: scale(1.1); */
    border-radius: 10px;
    background: #13284B;
    color:#f2f2f2;
    border-radius:0;
    transition:background 0.20s linear;
}